.cart {
  background-color: #7ca57b;
  color: #fff;
  grid-column: -7/ -1;
  position: relative;

  &__content {
    padding: 0 2vw;
    padding-top: 2.4rem;
  }

  &__heading {
    width: 100%;
    margin-bottom: 3.2rem;
  }
  &__items {
    display: grid;
    grid-row-gap: 0.8rem;
    margin-bottom: 4.8rem;
  }
  &__divider {
    height: 1px;
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 4.8rem;
  }

  &__placeholder {
    font-family: "dm sans", sans-serif;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & > * {
      margin-bottom: 2.4rem;
    }
  }

  &__success {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2000;
    background-color: rgba(#000, 0.2);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  //HAMBURGER

  &__checkbox {
    display: none;
  }

  &__button {
    display: none;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: 2vw;
    // top: 2.8rem;
    padding: 2rem 0;

    z-index: 2000;

    &-number {
      display: none;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 2001;
      transform: translate(-50%, -25%);

      color: #fff;
      border-radius: 50%;
      width: 1.6rem;
      height: 1.6rem;
      background-color: var(--dark-green);
    }
  }

  &__hamburger {
    display: none;
    position: relative;
    transform: translateY(1.6rem);

    &,
    &::after,
    &::before {
      width: 3rem;
      height: 2px;
      background-color: #000;
      display: inline-block;
      transition: all 0.2s;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__hamburger::before {
    top: -1rem;
  }
  &__button:hover &__hamburger::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__hamburger {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__hamburger::before {
    top: 0;
    transform: rotate(135deg);
    background-color: #fff;
  }

  &__checkbox:checked + &__button &__hamburger::after {
    top: 0;
    transform: rotate(-135deg);
    background-color: #fff;
  }

  &__checkbox:checked + &__button &__button-number {
    display: none;
  }

  //FUNCTIONALITY

  &__checkbox:checked ~ .cart {
    transform: translateX(0);
    opacity: 1;
  }

  @media only screen and (max-width: 68.75em) {
    grid-column: -8/ -1;

    &__content {
      padding-top: 3.2rem;
    }

    &__placeholder {
      font-size: 1.8rem;
    }
  }

  @media only screen and (max-width: 56.25em) {
    position: absolute;
    z-index: 10;
    width: 40rem;
    height: 100%;
    right: 0;
    transform: translateX(100%);
    transition: 0.2s transform ease-in-out;

    &__button {
      display: block;

      &-number {
        display: inline-flex;
      }
    }

    &__hamburger {
      display: block;
    }

    &__content {
      padding: 0 5vw;
      padding-top: 1.6rem;
    }

    &__success {
      height: 100vh;
    }
  }

  @media only screen and (max-width: 25em) {
    width: 90vw;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__label {
    font-size: 1.8rem;
    font-family: "dm sans", sans-serif;
    margin-bottom: 0.8rem;
    // margin-left: 1.6rem;
  }

  &__input {
    border: none;
    font-size: 1.4rem;
    height: 4rem;
    padding: 0 0.8rem;
    margin-bottom: 1.6rem;

    &:focus {
      transition: all 0.2s ease-in-out;
      outline-color: var(--dark-green);
    }
  }

  &__button {
    background-color: var(--light-green);
    color: var(--dark-green);
    font-family: "dm sans", sans-serif;
    font-size: 1.8rem;
    padding: 0.8rem 1.6rem;
    border-radius: 2rem;

    box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);

    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: 0.2s all ease-in-out;

    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }
  }

  @media only screen and (max-width: 43.75em) {
    &__input {
      padding: 0.4rem 1.6rem;
    }
    &__button {
      padding: 1.6rem;
    }

    &__input {
      font-size: 1.6rem;
    }
  }
}
