.menu {
  grid-column: 5/-7;
  // background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6.4rem;

  overflow: visible;

  &__heading {
    text-align: center;
  }

  &__grid {
    margin: 5.6rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.5rem, 1fr));
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
  }

  @media only screen and (max-width: 68.75em) {
    grid-column: 1/-8;
    padding-left: 2vw;
    padding-top: 3.2rem;
  }

  @media only screen and (max-width: 56.25em) {
    &__grid {
      margin: 4rem;
    }
  }

  @media only screen and (max-width: 43.75em) {
    grid-column: 1/-1;
    padding: 3vw 2vw;

    &__grid {
      margin: 2.4rem;
    }

    &__heading {
      font-size: 3.2rem;
    }
  }
}
