.container {
  width: 120rem;
  min-height: 50rem;
  margin: 4rem 8rem;
  background-color: white;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 2rem 3rem rgba(#000, 0.2);
  position: relative;

  display: grid;
  grid-template-columns: repeat(22, 1fr);
  grid-column-gap: 2vw;

  @media only screen and (max-width: 81.25em) {
    margin: 0;
    border-radius: 0;
    width: 100%;
  }
}
