:root {
  --light-green: #f3f7ed;
  --mid-green: #abcf81;
  --dark-green: #5cb165;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: 56.25em) {
    font-size: 56.25%;
  }

  // @media only screen and (max-width: 55.55em) {
  //   font-size: 53%;
  // }
}
