:root {
  --light-green: #f3f7ed;
  --mid-green: #abcf81;
  --dark-green: #5cb165;

  --solid-green: #7ca57b;

  --gradient-light: #598C4D;
  --gradient-dark: #4D8C6C;

  // --green-25: #f7faf2;
  // --green-50: #e6f1d9;
  // --green-100: #d5e7c0;
  // --green-200: #c4dda7;
  // --green-300: #bcd99a;
  // --green-400: #abcf81;
  // --green-500: #89a667;
  // --green-600: #677c4d;
  // --green-700: #445334;
  // --green-800: #333e27;
  // --green-900: #11150d;
  --green-25: #eff7f0;
  --green-50: #deefe0;
  --green-100: #bee0c1;
  --green-200: #9dd0a3;
  --green-300: #7dc184;
  --green-400: #5cb165;
  --green-500: #4a8e51;
  --green-600: #376a3d;
  --green-700: #254728;
  --green-800: #1c351e;
  --green-900: #122314;
}