.cart-item {
  display: flex;
  align-items: center;

  &__img {
    object-fit: cover;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

  &__body {
    margin-right: auto;
  }

  &__name {
    margin-bottom: 0.8rem;
    font-size: 1.8rem;
  }

  &__price {
    font-size: 1.4rem;
  }

  &__ui {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__number {
    margin: 0 1rem;
  }

  &__button {
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    background-color: var(--light-green);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (max-width: 43.75em) {
    &__name {
      font-size: 2rem;
    }

    &__price {
      font-size: 1.8rem;
    }

    &__number {
      font-size: 1.8rem;
    }

    &__button {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}